<!DOCTYPE html>
{%extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cysofthome</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    <h1> HOPE THIS WORK</h1>
    {%block left_block%}

    {%endblock%}
    </div>
 <div class="col-md-8">
    {%block mid_block%}
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{%endblock%}

<div class="col-md-2">
   <div class="sidebar search">
        <h2 class="section-title">Search</h2>
    <form action="index.html" method="post">
        <input type="text" name="search-term" class="text-input" placeholder="search...">

    </form>
    <div class="section topic">
        <h2 class="section-title">Topics</h2>
        <ul>
            <li><a href="#">Peams</a></li>
            <li><a href="#">Peams</a></li>
            <li><a href="#">Peams</a></li>
            <li><a href="#">Peams</a></li>
            <li><a href="#">Peams</a></li>
            <li><a href="#">Peams</a></li>
        </ul>
    </div>

    {%block right_block%}

    {%endblock%}
   </div>
   </div>
</body>
</html>