  <footer class="page-footer bg-dark navbar-fixed-bottom">
      <div class="bg-success">
          <div class="container">
             <div class="row py-4 d-flex align-items-center">
                 <div class="col-md-12 text-center">
                     <a href="#"></a>
                     <a href="#"></a>
                     <a href="#"></a>
                     <a href="#"></a>
                     <a href="#"></a>
                 </div>
             </div>
          </div>
      </div>
      <div class="container text-center text-md-left mt-0">
          <div class="row">
              <div class="col-md-3 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">cysoft home</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:125px; height:2px">
                  <p class="mt-2">this site is built to help student on their
                  academic project and to enlighten them on things the do not know academically</p>
              </div>
              <div class="col-md-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">cysoft home</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:85px; height:2px">
                  <ul class="list-unstyled">
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                  </ul>
              </div>
              <div class="col-md-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">cysoft home</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:110px; height:2px">
                  <ul class="list-unstyled">
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                  </ul>
              </div>

              <div class="col-md-3 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold">cysoft home</h6>
                  <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:75px; height:2px">
                  <ul class="list-unstyled">
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                      <li class="my-2"><a href="#">link1</a> </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="bg-success footer-copyright text-center py-3 mb-0">
          <p> &copy; copyright
              <a href="#">nceprojectmaterial.com</a>

          </p>
          <p> Designed By CYSOFTHOME</p>
      </div>
  </footer>